* {
  font-family: "MS Gothic", serif;
  font-weight: 600;
}
body {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  background-color: darkgrey;
  width: 100vw;
  height: 100vh;
}

.header {
  padding-top: 30px;
}
input {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: none;
  margin-right: 15px;
}
.list {
  margin: 25px 0;
  background-color: rgba(200, 0, 255, 0.32);
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.input-box {

}
button {
  background-color: #002864;
  color: white;
  padding: 7px;
  border-radius: 8px;
  border: none;
}
.task {
  display: flex;
  width: 80%;
  justify-content: space-between;
  padding: 15px 30px;
}